{% extends 'base.html' %}

{% block title %}
Sign Up
{% endblock %}

{% block body %}
<main class="main__userp">
    <div class="account__container">
        <div class="container_content">
            <h1 class="content_title">Register</h1>
            <form method="post" action="{{ url_for('register') }}">
                <!-- CSRF token один раз на форму -->
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <div class="">
                    <!-- <label for="username">Username:</label> -->
                    <input type="text" name="username" placeholder="Type here your Username..." class="data-form-inputs" required>
                </div>
                <div class="">
                    <!-- <label for="password">Password:</label> -->
                    <input type="password" name="password" placeholder="Type here your Password..." class="data-form-inputs" required>
                </div>
                <div class="">
                    <!-- <label for="email">Email:</label> -->
                    <input type="email" name="email" placeholder="Type here your Email..." class="data-form-inputs" required>
                </div>

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="flash_text">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <button type="submit" class="save-changes">Register</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}